<link rel="stylesheet" href="/css/project_details.css">
<h2>Project Detail: <%= locals.project.name %></h2>
<br>        
<div class="filters">
    <h3>Filter</h3>
    <div class="filter-options">
        <form id="filter-form" action="/issues/filter" method="post">
            <label for="filter-labels">Filter by Labels:</label>
            <div class="checkbox-group">
                <% locals.project.labels.forEach(label => { %>
                    <label><input type="checkbox" name="label" value="<%= label %>"> <%= label %></label>
                <% }); %>
            </div>

            <label for="filter-author">Filter by Author:</label>
            <input type="text" id="filter-author" name="author" placeholder="Enter author name">

            <label for="filter-search">Search by Title/Description:</label>
            <input type="text" id="filter-search" name="search" placeholder="Enter search text">

            <button type="submit" class="apply-button">Apply Filters</button>
        </form>
    </div>
</div>

<ul id="issue-list">
    <!-- Issue items will be dynamically added here -->

    <% locals.project.issues.forEach(issue => { %>
        <li>
            <!-- <div class="label-box" style="background-color: "></div> -->
            <div class="labels">
                <% issue.labels.forEach(label => { %>
                    <span class="label" style="background-color: #e74c3c"><%= label %></span>
                <% }); %>
            </div>
            <div class="issue-details">
                <div class="issue-title">Issue: <%= issue.title %></div>
                <div class="issue-description"><%= issue.description %></div>
                <div class="author">Author: <%= issue.author %></div>
            </div>
            <a href="/issues/delete/<%= issue.id %>?projectId=<%= locals.project._id %>" class="delete-link">Delete</a>
        </li>
    <% }); %>
</ul>

<a href="/issues/create-issue/<%= locals.project._id %>" class="create-issue-button">Create New Issue</a>
<div id="issue-data" data="<%=JSON.stringify(project.issues)%>"></div>
<script src="/js/filterIssues.js"></script>
        